@font-face {
	    font-family: Ubuntu;
	    src: url(../fonts/Ubuntu-Bold.ttf);
	    font-weight: bold;
	}
 	html, body{
	    margin: 0;
	    padding: 0;
	    border: 0;
	    outline: 0;
	    font-size: 100%;
	    vertical-align: baseline;
	    background: transparent;
	    height: 100%;
	    background-color: #354051;
	}
	#timerclock{
		width: 100%;
		right: 0; 
		bottom: 0;
		background-color: #fe6e6e;
		position: absolute;
		-webkit-transition: height 0.5s ease;
		-moz-transition: height 0.5s ease;
		-ms-transition: height 0.5s ease;
		-o-transition: height 0.5s ease;
		transition: height 0.5s ease;
	}
	.timeWrapper{
		height: 100%;
		margin: 0;
		padding: 0;
		width: 50%;
		text-align: center;
		vertical-align: middle;
		line-height: 90px; 
		position: relative;
	}
	.container {
	    position: absolute;
	    top: 50%;
	    height: auto;
	    left: 50%;
	    text-align: center;
		vertical-align: middle;
	    -moz-transform: translateX(-50%) translateY(-50%);
	    -webkit-transform: translateX(-50%) translateY(-50%);
	    transform: translateX(-50%) translateY(-50%);
	}
	p{
		color: white; 
		font-size: 10.875em;
		font-family: Ubuntu;
	}
	.round-button {
	    display:block;
	    width:80px;
	    height:80px;
	    line-height:50px;
	    border-radius: 50%;
	    text-align:center;
	    text-decoration:none;
	    background: #fe6e6e;
	    position: absolute;
	    bottom: 20%;
	    z-index: 10000;
	    left: 50%;
	    margin-left: -40px;
	}
	.off-button {
	    display:block;
	    width:80px;
	    height:80px;
	    line-height:50px;
	    border-radius: 50%;
	    text-align:center;
	    text-decoration:none;
	    background: #ffffff;
	    position: absolute;
	    bottom: 20%;
	    z-index: 10000;
	    left: 50%;
	    margin-left: -40px;
	}
	.button_fade{
		animation: sonarWave 0.3s linear;
	}
	.button_appear{
		animation: buttonAppear 0.3s linear;
	}
	.dissapear{
		animation: dissapear 0.3s linear;
	}
	a:hover{cursor: pointer;}

	@keyframes sonarWave {
	  from {
	    opacity: 0.4;
	  }
	  to {
	    transform: scale(10);
	    opacity: 0;
	  }
	}
	@keyframes buttonAppear {
	  from {
	    opacity: 0;
	    transform: scale(0.2);
	  }
	  to {
	    transform: scale(1);
	    opacity: 1;
	  }
	}
	@keyframes dissapear {
	  from {
	    opacity: 1;
	  }
	  to {
	    opacity: 0;
	  }
	}
	.displayOn{
		display: block;
	}
	.displayOff{
		display: none;
	}