//****************
// Project Config
//****************




/*********************
Fonts
*********************/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

/*********************
Breakpoints
*********************/

$mobile-break: 768px;
$tablet-break: 992px;
$desktop-break: 1200px;
$large-desktop-break: 1440px;

/*********************
Brand Colours
*********************/

$brand-primary: #0093cb;
$brand-secondary: lighten(#0093cb, 10%);
$brand-tertiary: darken(#0093cb, 10%);

/*********************
Secondary colours
*********************/

$black: #1a1818;
$white: #ffffff;
$light-grey: #f4f4f4;
$border:#E7EDEF;

$bg-light:#e5f4fa;


// Include Specific Modules
@import "mixins";
@import "maps";
