//****************
// Project Maps
//****************




/*********************
Colours map
*********************/

$colors: (
  project-primary: $brand-primary,
  project-secondary: $brand-secondary,
  project-tertiary: $brand-tertiary,
  project-bg-light: $bg-light,
  project-border: $border,
  project-white: $white,
  project-black: $black
);
