/* ==========================================================================
   
    RESPONSIVE

   ========================================================================== */





@media screen and (max-width: 1140px) {
    .wrapper{
        padding: 0px 20px;
        box-sizing: border-box;
    }
    footer span{
        margin-right: 20px;
    }
}

@media screen and (max-width: 800px) {

    header nav .logo h1{
        font-size: 20px;
    }

    header nav ul li{
        margin-left: 10px;
        font-size: 14px;
        min-width: 80px;
    }
    header nav.smaller ul li{
        margin-left: 10px;
    }
    section main article{
        box-sizing: border-box;
        width: 100%;
        height: auto;
        min-height: 200px;
        padding-bottom: 40px;
    }
    section main .row1{
        border:none;
    }
    section main .row1 article:nth-child(2), section main .row2 article:nth-child(2){
        border:none;
    }
    .form{
        width: 100%;
    }
    input[type=text], input[type=number], .textarea, input[type=submit]{
        width: 100%;
        box-sizing: border-box;
    }
    aside{
        float: left;
        padding:50px 10px 0px 10px;
        width: 100%;
        box-sizing:border-box;
    }
    footer span{
        width: 100%;
        float: left;
    }
    .office {
        background: url('../images/office.jpg');
        background-position: right; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 220px;
    }

}

@media screen and (max-width: 600px) {

    header{
        height: auto;
        padding-bottom: 50px;
    }

    header nav{
        height: auto;
    }
    header nav ul{
        width: 100%;
    }
    header nav ul li{
        width: 33%;
        text-align: center;
        margin: 0px;
        float: left;
        line-height: 50px;
        font-size: 12px;
    }
    header nav ul li:nth-child(3){
        margin: 0px;
    }
    header nav .logo {
        width: 100%;
        text-align: center;
        height: auto;
    }

    header nav .logo h1{
        font-size: 18px !important;
        line-height: 50px;
    }

    /* -- nav SMALLER -- */

    header nav.smaller{
        width: 100%;
        height: auto;
        background-color: white;
        position: fixed;
        border-bottom: 1px solid #cccccc;
    }

    header nav.smaller .logo{
        height: auto;
    }

    header nav.smaller .logo h1{
        line-height: 50px;
    }
    header nav.smaller ul{
        line-height: 50px;
    }

    header nav.smaller ul li{
        margin: 0px;
    }

    summary{
        padding: 0px 10px;
    }
    .summary{
        margin-top: 80px;
    }
    summary h1{
        padding:0px;
        font-size: 18px;
    }
    summary p{
        font-size: 14px;
        padding: 20px 0px;
    }
    aside figure{
        height: 70px;
    }
    aside .asidetext p{
        font-size: 14px;
    }

    h2{
        font-size: 18px;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 14px;
    }
    p{
        font-size: 11px;
    }
    footer p {
        font-size: 10px !important;
    }
    .welcome_line_left, .welcome_line_left2, .welcome_line_right, .welcome_line_right2{
        display: none;
    }
}



