//****************
// Banner Styles
//****************




/*********************
Banner
*********************/

.banner{
  padding-top:30px;
  min-height: 100px;
  text-align: left;
  padding-bottom: 30px;
  background: #F2F6FA;
  position: relative;
  margin-bottom: 20px;
  //border-radius: 10px;

  @include mobile{
    padding-top:10px;
  }

  @include tablet{
    padding-top:50px;
    padding-bottom: 80px;
  }

  &.home{
    margin-bottom:0px;

    @include mobile{
      margin-bottom:40px;
    }

    @include tablet{
      padding-top:100px;
      padding-bottom: 110px;
      margin-bottom:80px;
    }
  }

  h1{
    width:100%;
    float: left;
    b{
      font-weight:500;
      float: left;
    }
    span{
      float: left;
      display: inline-block;
      width: 72px;
      height: 2px;
      margin: 25px 0px 0px 25px;
      background-color: #001828;
    }
  }

  .picture{
    width: 100%;
    height: auto;
    margin-right: 30px;
    margin-top: 0px;
    background: white;
    position: relative;
    float: left;
    right: 0px;
    top: 10px;
    -webkit-box-shadow: 2px 2px 5px 2px #dedede;
    box-shadow: 2px 2px 5px 2px #dedede;
    overflow: hidden;
    border-radius: 10px;

    @include mobile{
      float: none;
      width: 280px;
      height: 280px;
      margin-right: 40px;
      position: absolute;
    }

    @include tablet{
      width: 380px;
      height: 380px;
      margin-right: 50px;
      top: -40px;

    }

  }

}
