//****************
// Footer Styles
//****************




.footer{
  padding-bottom: 50px;
  padding-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background: #F0F0F0;
  border-top: 1px solid #C2C2C2;
  color:black;
  clear: both;

  ul{
    list-style: none;
    li{
      a{
        //color: black;
        font-size: 16px;
        font-weight: normal;
        text-decoration: underline;
      }
    }
  }


  &__left{
    line-height: 30px;
    text-align: left;
  }

  &__right{
    line-height: 30px;
    text-align: left;

    @include mobile{
      text-align: right;
    }
  }

}
