//****************
// Header Styles
//****************




.header{
  font-size: 1.2vw;
  line-height: 1.3em;
  padding: 20vw 17vw 2.5vw;
  max-width: 1510px;

  .information-more{
    padding-top: 3vw;
    p{
      font-size: 1.6vw;
      line-height: 3vw;
    }
  }

  a{
    cursor: pointer;
  }

  h1{
    font-weight: 400;
    color:#292A2C;
    font-family: 'Crimson Text', serif;
    b{
      font-weight: inherit;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: -3px;
        right: 0;
        left: 0;
        height: 3px;
        background: #758498;
        z-index: -1;
        opacity: 0.2;
      }
    }
    a{
      color:#000000;
      text-decoration: underline;
      position:relative;
      cursor: pointer;

      &:hover{
        cursor: pointer;
      }
    }
  }

  .information-more{
    display: none;

    &.active{
      display: block;
    }

    p{
      margin-bottom: 1vw;
      color: rgb(116, 130, 151);
    }

    a{
      color:#000000;
      text-decoration: underline;
      position:relative;
      font-weight: bold;
    }
  }

}
