//****************
// Project Typography
//****************


body{
  font-family: 'Inter', sans-serif;
  color:#010101;
  font-size: 14px;
  font-weight: 400;

  @include mobile{
    font-size: 16px;
  }
  @include tablet{
    font-size: 16px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 130%;
  color: black;
  margin-top: 0.333rem;
  margin-bottom: 1.4rem;
}

h1{
  font-size: 24px;
  line-height: 43px;
  font-weight: 600;
  color: #001828;

  @include mobile{
    font-size: 28px;
    line-height: 53px;
  }

  @include tablet{
    font-size: 32px;
  }
}

h2{
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  color: #001828;

  @include mobile{
    font-size: 21px;
    line-height: 33px;
  }
}

h3{
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
  color: #001828;
  margin-bottom: 20px;

  @include mobile{
    font-size: 28px;
    line-height: 43px;
  }
}

h4{
  font-size: 20px;
  font-weight: 600;
  line-height: 33px;
  color: #001828;

  @include mobile{
    font-size: 25px;
    line-height: 33px;
  }
}


h5{
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  color: #001828;

  @include mobile{
    font-size: 20px;
    line-height: 33px;
  }

  a{
    text-decoration: underline;
  }
}

/*********************
P Styles
*********************/

p{
  line-height: 180%;
  font-size: 16px;

  @include mobile{
    font-size: 18px;
  }

  &.alt{
    font-size: 12px;
    font-weight: bold;
  }
}

ul{
  padding-left:20px;
  font-size: 16px;

  @include mobile{
    font-size: 18px;
  }
}

ol{
  padding-left:20px;
  list-style-type: auto;
  font-size: 16px;
  margin-bottom: 20px;

  @include mobile{
    font-size: 18px;
  }
}

.date{
  color:#848484;
  font-size: 14px;
}

p, ul {
  margin: 0 0 20px;
}

.experience{
  margin-bottom: 20px;
  span{
    font-weight: 500;
  }
}


/*********************
Link Styles
*********************/

a {
  color: #0073B1;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &:active, &:focus{
    background:#D7FB53;
    color:inherit;
    text-decoration: underline;

    b{
      color:black;
    }
  }
}
