html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: none;   
}
.l { float: left !important; }
.r { float: right !important; }
.text-left{text-align: left;}
.ease{
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.text-right{text-align: right;}
.mauto{margin-left: auto; margin-right: auto;}
.clear { clear: both; }
img{display: block;}
.noborder{border: none !important;}
.visible{visibility:visible !important;}
.z{z-index: 10000; position: relative;}

h1{text-align: center; font-size: 25px; color: #404041; letter-spacing: 6px; font-family: 'Lora', serif; line-height: 40px; font-weight: 400; position: relative;}
h2{text-align: center; font-size: 20px; color: #404041; letter-spacing: 2px; font-family: 'Lora', serif; line-height: 40px; font-weight: 400; position: relative;}
h3{text-align: left; font-size: 20px; color: #292929; font-family: 'Lora', serif; line-height: 20px; font-weight: lighter; position: relative; padding-top: 20px;}
h4{text-align: left; font-size: 16px; color: #292929; font-family: 'Lora', serif; line-height: 20px; font-weight: lighter; position: relative;}
h5{text-align: center; font-size: 12px; color: #919294; line-height: 40px; font-weight: lighter; font-family: 'Open Sans', sans-serif;}
p{font-size: 13px; color:#404041; font-weight: 400; line-height: 25px; font-family: 'Open Sans', sans-serif;}
strong{color: #a0a4a3; font-weight: normal;}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

html { 
    /* padding: 50px; */
    background-color: #f9f9f9;
}
body { 
    font-family: 'Lora', serif;
    /* background-image: url('../img/background2.jpg'); */
    background-repeat: repeat;
    color: #666666;
    font-size: 16px;
    background-color: #f9f9f9;
    width:100%;
    margin: 0 auto;
}

/**/
/** WRAPPER **/
/**/
.top{float: left; width: 100%; height: auto; border-bottom: 2px solid #dcdcdc;

background: #f9f9f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f9f9f9 0%, #E7E8E5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#E7E8E5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f9f9f9 0%,#E7E8E5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f9f9f9 0%,#E7E8E5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f9f9f9 0%,#E7E8E5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f9f9f9 0%,#E7E8E5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#E7E8E5',GradientType=0 ); /* IE6-9 */

}
.wrapper{ min-height: 50px; height: auto; margin:0px auto; max-width: 980px; width: 100%; padding: 0px 10px; position: relative; box-sizing: border-box;}
.clear{clear: both;}

/**/
/** HEADER **/
/**/

.strip{float: left; height: 5px; width: 100%; background-color: #dcdcdc;}
header{ height: 180px; width: 100%; max-width: 840px; margin: 0px auto;  z-index: 1000000; position: relative;}
summary{ max-width: 400px; height: 132px; padding-top: 48px; float: left; position: relative;}
.underline{width: 30px; height: 2px; margin: 10px auto 0px auto; background-color:#dcdcdc; }
.social{float: left; width: 200px; height: 50px; padding-top: 25px;}
.social-icon{ float: left; margin-right: 10px;}

/**/
/** NAV **/
/**/

nav li{display: inline-block; float: left; text-align: left; padding: 15px;}
nav a { font-family: 'Open Sans', sans-serif; font-size: 15px; line-height: 20px; font-weight: bold; text-decoration: none;}

#primary_nav_wrap{ z-index: 10000; float: right; margin-bottom: 5px; padding-top: 37px; width: auto; position: relative;}
#primary_nav_wrap ul{ list-style:none; position:relative; float:left; margin:0; padding:0; max-width: 960px; width: 100%; }
#primary_nav_wrap ul a{ display:block; color:#404041; text-decoration:none; font-weight: 400; font-size:12px; line-height:40px; padding:10px; font-family: 'Open Sans', sans-serif;}
#primary_nav_wrap ul li{ position:relative; float:left; margin:0; padding:0; }
#primary_nav_wrap ul li.current-menu-item{ }
#primary_nav_wrap ul li:hover{ background-color:#f9f9f9; border-bottom: 2px solid #dcdcdc;}
#primary_nav_wrap ul ul { display:none; position:absolute; top:100%; left:0; padding:0 }
#primary_nav_wrap ul ul li { float:none; width:200px;}
#primary_nav_wrap ul ul a{ line-height:120%; padding:10px 15px; font-size: 12px; }
#primary_nav_wrap ul ul ul { top:0; left:100%}
#primary_nav_wrap ul li:hover > ul{ display:none; }

/**/
/** FIGURE **/
/**/

figure{ float: left; height: auto; width: 100%; max-width: 960px; background-color: #1d1d29; position: relative;}
figure aside{position: absolute; margin-top: 12.5%; left: 50px; height: 50%; width: 280px; padding: 20px; background-color: #ffffff; box-sizing: border-box; background-color: rgba(255, 255, 255, 0.6); }
figure aside p{text-align: center;}
.example-pager{bottom: 0px; left: 50%; text-align: center; width: 300px; margin-left: -150px; position: absolute; z-index: 10000;}
.example-pager span{ width: 30px; height: 30px; font-size: 27px; color: #ffffff; letter-spacing: 4px; /* text-shadow: 1px 1px 1px rgba(150, 150, 150, 1); */}
.example-pager span:hover{ cursor: pointer;}

/**/
/** SECTION INTRO **/
/**/

section { float: left; width: 100%; height: auto;}
#intro{ height: auto; border-bottom: 1px solid #dedede; padding-bottom: 10px;}
.button{width: 180px; text-align: center; background-color: #242424; height: 40px; margin: 20px auto; border: 2px solid #111;}
.button a{line-height: 40px; font-size: 14px; color: #ffffff; text-decoration: none;}
.button2{width: 150px; text-align: center; background-color: #3b3b3b; height: 40px; margin-top: 20px; border: 2px solid #111;}
.button2 a{line-height: 40px; font-size: 14px; color: #ffffff; text-decoration: none;}


/**/
/** MAIN **/
/**/

main{ float: left; height: auto; width: 100%; height: auto; padding:30px 0px 0px 0px;}
main aside{float: left; width: 20%; height: auto; padding-top: 7px; padding-bottom: 30px;}
main article{float: left; height: auto; padding: 30px 50px 50px 30px; width: 80%; box-sizing: border-box;}
main .button{width: 100%; text-align: center; background-color: #242424; height: 40px; border:none;}
.article-image{margin-right: 50px;}
/**/
/** SECTION EXPLORE **/
/**/
#explore{ float: left; height: auto; width: 100%; height: auto; padding:30px 0px; border-bottom: 1px solid #dedede;}
#explore h2{letter-spacing: 0px; }
.title{width: 100%; float: left; height: auto; margin-bottom: 10px; padding-bottom: 10px;}
#explore article h2{color: #ffffff; font-family: 'Open Sans', sans-serif; font-weight: 600; line-height: 0px;}
#explore article h5{color: #ffffff; line-height: 25px; }
#explore article{float: left; width: 32%; box-sizing: border-box; margin-right: 2%; margin-bottom: 20px; padding: 50px 40px; height: auto; background-color: #dedede;}
.last{margin-right: 0% !important;}
#explore article h2{padding-bottom: 20px;}



/**/
/** FOOTER  **/
/**/

footer{padding: 100px 70px; width: 100%; background-color: #E7E8E5; float: left; border-top: 1px solid #dcdcdc;}
.fa{font-size: 30px !important;}

footer p a, footer p{font-size: 14px; color: #a0a4a3; text-decoration: none;}
.footer-container{width: 50%; position: relative;}
.footer-left{margin-right: 20px;}
.footer-right{margin-left: 20px;}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 1050px) {

    aside{width: 75%;}
    .wrapper{overflow: hidden !important;}

}

@media screen and (max-width: 800px) {
        
    h1{font-size: 40px;}
    h2{font-size: 15px; width: 90%;}
    h3{font-size: 20px;}
    h4{font-size: 16px;}
    h5{font-size: 12px; line-height: 28px;}
    p{font-size: 12px; line-height: 30px;}

    nav li{padding-left: 35px;}

    .logo{ width: 80px; height: 80px;}
    nav a{font-size: 11px; line-height: 70px;}

    .satellite{display: none;} 

    summary{max-width: 500px;}

    .grid-3{ width: 10%; }
    .grid-4{ width: 85%; }
    .grid-5{ padding-left: 0px; margin-left: 0px; width: 100%; min-height: 20px; }
    .grid-5-first{padding-left: 0px; margin-left: 0%;}

    aside{width: 75%;}

}

@media screen and (max-width: 600px) {
        
    header{ padding: 20px 20px; height: auto;}
    summary{padding-left: 20px; padding-top: 180px; width: 90%}
    .scroll{margin-left: 20px;}
    .moon{left: 63%; top:10%;}
    .mars{right: -5%; top: 40%;}


    h1{font-size: 25px; line-height: 40px !important;}
    h2{font-size: 14px; width: 80%; color: #ffffff;}
    h3{font-size: 18px;}
    h4{font-size: 14px;}
    h5{font-size: 11px; line-height: 28px;}
    p{font-size: 11px; line-height: 30px;}

    nav li{padding-left: 25px;}

    .logo{ width: 80px; height: 80px;}
    nav a{font-size: 11px;}

    .satellite{display: none;} 

    #work, #about, #services, #experience{padding: 60px 20px 50px 20px;}
    #contact{padding: 60px 20px 50px 20px !important;}
    .work-buttons{height: 60px; margin-top: 60px;}

    .grid-3{ width: 100%; min-height: 10px; height: auto; }
    .grid-4{ width: 95%; padding-left: 0px; padding-top: 0px;}
    .grid-5{ width: 100%; min-height: 20px; }
    .grid-5-first{padding-left: 0px; margin-left: 0%;}

    aside{ padding: 0px 20px 20px 20px; width: 90%; position: relative; float: left;}
    .portfolio{padding: 0px 20px 50px 20px;}
    .grid-portfolio{width: 100%; padding-top: 150px; padding-left: 0px;}

    footer{padding: 100px 20px;}

}
